﻿<!--<h1 class="page-header">Dashboard</h1>-->


<div class="row placeholders" ng-controller="graphicController">
    <div class=".col-xs-1  col-sm-1 placeholder"></div>
    <div class="col-xs-1 col-sm-4 placeholder">
        <nvd3-pie-chart data="myData1"
                        id="exampleId"
                        showlabels="true"
                        x="xFunction()"
                        y="yFunction()"
                        width="450"
                        height="350"
                        donut="true"
                        donutratio=".5"
                        showlegend="true"
                        donutlabelsoutside="true"
                        labeltype="percent"
                        nodata="Loading...">
            <svg height="250"></svg>
        </nvd3-pie-chart>
    </div>

    <div class=".col-xs-1  col-sm-2 placeholder"></div>
    <div class="col-xs-1 col-sm-4 placeholder">
        <nvd3-pie-chart data="myData2"
                        id="exampleId2"
                        showlabels="true"
                        x="xFunction()"
                        y="yFunction()"
                        width="450"
                        height="350"
                        donut="true"
                        donutratio=".5"
                        showlegend="true"
                        donutlabelsoutside="true"
                        labeltype="percent"
                        nodata="No Data!">
            <svg height="250"></svg>
        </nvd3-pie-chart>
    </div>

</div>


<div class="row" ng-controller="tablesController">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Gagdets</h3>
            </div>
            <div class="panel-body">
                <div class="gridContainer">
                    <div class="gridStyle" ng-grid="gridOptions"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Slaves</h3>
            </div>
            <div class="panel-body">
                <div class="gridContainer">
                    <div class="gridStyle" ng-grid="gridOptions2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6" ng-show="showHomeGrid">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Info Home</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Garagem : {{home.GarageClear}}</li>
                    <li class="list-group-item">Alarme : {{home.FireAlarm}}</li>
                    <li class="list-group-item">Temperatura Máxima : {{home.maxTemp}} C</li>
                    <li class="list-group-item">Temperatura Minima : {{home.minTemp}} C</li>
                    <li class="list-group-item">Temperatura Actual : {{home.actualTemp}} C</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-6" ng-show="showLuzGrid">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Info Luz</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Status : {{luz.Status}} </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/myAngularJSController")