﻿@{
    ViewBag.Title = "WS Console APP";
}

<h2>WSHome</h2>

<div class="col-sm-5" ng-controller="graphicController">

    <div class="row placeholders">
        <div class="col-xs-8 col-sm-6 placeholder">
            <nvd3-pie-chart data="myData"
                            id="exampleId1"
                            showlabels="true"
                            x="xFunction()"
                            y="yFunction()"
                            width="350"
                            height="400"
                            donut="true"
                            donutratio=".5"
                            showlegend="true"
                            labeltype="percent"
                            donutlabelsoutside="true"
                            nodata="Loading...">
                <svg height="400"></svg>
            </nvd3-pie-chart>
        </div>
        <div class="col-xs-8 col-sm-6 placeholder">
            <nvd3-pie-chart data="myData2"
                            id="exampleId2"
                            showlabels="true"
                            x="xFunction()"
                            y="yFunction()"
                            width="350"
                            height="400"
                            donut="true"
                            donutratio=".5"
                            showlegend="true"
                            labeltype="percent"
                            donutlabelsoutside="true"
                            nodata="Loading...">
                <svg height="400"></svg>
            </nvd3-pie-chart>
        </div>
    </div>

</div>

<div class="col-sm-7" ng-controller="WsTableController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">WS Called</h3>
        </div>
        <div class="panel-body">
            <div class="gridContainer">
                <div class="gridStyle2" ng-grid="gridOptions3"></div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/myAngularJSController2")